<!-- Include the Google CSS package -->
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">

<!-- CSS styles -->
<style>
form { margin: 0.5em auto 0; width: 45em; padding: 1em;border: 1px solid; background-color: #eee}
#output { margin: 0.5em auto 0; width: 45em; padding: 1em;font-size: 20px;}
input { display:block; margin: 20px; width: 300px }
h2 {font-size:24px}
</style>

<!-- HTML form -->

<form id="myForm">
   <h2>Design Ticket Submittal:</h2>
   <!-- Text input field -->
   <p>Request By : <input type="text" name="myName" id="myName" placeholder="Customer name" required></p>
   <p>Company : <input type="text" name="myCompany" id="myCompany" placeholder="AT&T" required></p>
   <p>Maximo Number : <input type="number" name="myMaxNo" id="myMaxNo" placeholder="i.e. 1036892" required></p>
   <p>Short Project Description : <input type="text" name="myDesc" id="myDesc" placeholder="Area work is being done, type of work etc" required></p>
   <p>City : <input type="text" name="myCity" id="myCity" placeholder="Project city" required></p>
   <p>State : <input type="text" name="myState" id="myState" placeholder="Project state" required></p>
   <p>County : <input type="text" name="myCounty" id="myCounty" placeholder="Project county" required></p>
   <p>Township : <input type="text" name="myTown" id="myTown" placeholder="Project township" required></p>
   <p>Work Begins : <input type="date" name="myDate" id="myDate" placeholder="mm/dd/yy, Date data collection begins" required></p>
   <p>Total footage : <input type="text" name="myFootage" id="myFootage" placeholder="Footage of gas facility replacement" required></p>
   
   <!-- File input filed -->
   <p>Project Description Sheet: <input type="file" name="myFile1" id="myFile1"></p>
   <p>Mapping File: <input type="file" name="myFile2" id="myFile2"></p>
   <input type="hidden" name="file1Flag" id="file1Flag">
   <input type="hidden" name="file2Flag" id="file2Flag">
   
   <!-- The submit button. It calls the server side function uploadfiles() on click -->
   <input type="submit" value="Send" id="submitForm"
          onclick="check()">
</form>

<!-- Here the results of the form submission will be displayed -->
<div id="output"></div>

<!-- The function will be called after the Google Script has executed -->
<script>
   function fileUploaded(status) {
       document.getElementById('myForm').style.display = 'none';
       document.getElementById('output').innerHTML = status;
   }
   
   function check() { 
      var inputs, index;

      inputs = document.getElementsByTagName('input');
      for (index = 0; index < inputs.length; ++index) {
       if((inputs[index].value == null || inputs[index].value =="") && inputs[index].type != "file" && inputs[index].type != "hidden"){
              return false;
       }
      }
      
      if(document.getElementById('myFile1').value == null || document.getElementById('myFile1').value == ""){
         document.getElementById('file1Flag').value = "0";
      } else {
         document.getElementById('file1Flag').value = "1";
      }
      
      
      if(document.getElementById('myFile2').value == null || document.getElementById('myFile2').value == ""){
          document.getElementById('file2Flag').value = "0";
      } else {
          document.getElementById('file2Flag').value = "1";
      }

      submitForm();            
      return false;
   }
   
   function submitForm(file1Flag, file2Flag){
         document.getElementById('submitForm').value = 'Sending...';
         google.script.run.withSuccessHandler(fileUploaded).uploadFiles(document.getElementById('myForm'));
   }
   
</script>